<div class="row">
    <div class="col-md-8">
        <%= form_for ([@author, @book]) do |f| %>
            <% errors = @book.errors %>
            <div class="form_item">
                <%= f.label :title %>
                <%= f.text_field :title, :class => "form-control" %>

               <% if errors.present? && errors[:title].present? %>
                    <div class="error">
                        <%= errors[:title][0] %>
                    </div>
                <% end %>
            </div>

            <div class="form_item">
                <%= f.label :description %><br>
                <%= f.text_area :description, :class => "form-control", :rows => 6 %>
            </div>

            <div class="form_item control-group clearfix">
                <div class="pull-left link_item">
                    <%= f.submit @book.persisted? ? "Update" : "Create", :class => "btn btn-primary" %>
                </div>

                <div class="pull-left link_item">
                    <%= link_to "Back", author_books_path(@author), :class => "btn btn-info"  %>
                </div>
            </div>
        <% end %>
    </div>
</div>
